<ion-view title="Search">
	<ion-content padding="true">
		<div class="row">
			<label class="item item-input col-50 col-offset-10">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search" ng-model="query">
			</label>
			<button class="button button-stable col-25 col-offset-60">
				Search
			</button>
		</div>
		<ul class="list">
			<ion-item ng-repeat="one in restaurants | filter:query" ui-sref="app.search.detail({id: one.id})">
				<h2>{{one.name}}</h2>
				<h3>{{one.type}}</h3>
				<h3>Price: {{one.price}}</h3>
			</ion-item>
			<p>{{msg}}</p>
		</ul>
	</ion-content>
</ion-view>
