<ion-view view-title="Login">
  <ion-content ng-controller= "LoginCtrl">
  	<form ng-submit="login()" >
	  	<div class="list list-inset">
			<label class="item item-input">
			    <span class="input-label">email</span>
			    <input type="text" ng-model = "postData.email">
			</label>
			<label class="item item-input">
			    <span class="input-label">Password</span>
			    <input type="password" ng-model = "postData.password">
			</label>
			<button class= "button button-stable button-block" type= "submit">login</button>
		</div>
	</from>
	<p>
		{{user}}
		{{token}}
	</p>
  </ion-content>
</ion-view>

<script id="Register.html" type="text/ng-template">
  <div class="modal ">
    <ion-header-bar>
    <h1 class="title">Change Descripthon</h1>
    </ion-header-bar>

    <ion-content>
      <div style= "padding-left:10px;padding-right:10px;">
        <div class="list list-inset">
          <label class="item item-input">
            <textarea rows="4" placeholder="new Descripthon" ng-model="newDescripthon"/>
          </label>
        </div>
        <div class="button-bar " >
          <button class="button button-light" ng-click="changeDescripthon(newDescripthon)">Done</button>
          <button class="button button-light" ng-click="closeModal(2)">Cancel</button>
        </div>
      </div>
    </ion-content>
  </div>
</script>
