<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>

  <ion-content class="padding">
     <div >

      <ion-list  show-delete="shouldShowDelete" can-swipe="listCanSwipe">
        <ion-item >
        <ion-item class="item item-thumbnail-left item" ng-repeat="dish in order.dishes | filter:query" href="#tab/dish/{{dish.id}}">

          <img src={{dish.name}}>
              <h2>{{dish.name}}</h2>
              <h2>${{dish.price}}</h2>

              <div class="item-text-wrap">
                {{dish.description}}
              </div>

            <ion-option-button class="button-assertive"
                             ng-click="delete($index)">
            Delete
          </ion-option-button>
                </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>

