<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="EDIT">
  <ion-content class="padding">
    
    <p>
      <h4>Basic Information</h4>
      <form ng-submit="update()" >
        <div class="list list-inset">
        <label class="item item-input">
            <span class="input-label">Name</span>
            <input type="text" ng-model = "postData.name">
        </label>
        <label class="item item-input">
            <span class="input-label">Description</span>
            <textarea  ng-model = "postData.description"></textarea> 
        </label>
        <button class= "button button-stable button-block" type= "submit">Edit</button>
      </div>
  </from>
    </p>
  </ion-content>
</ion-view>