<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Menu">
<ion-nav-buttons side="primary">
      <button class="button" ng-click="add()">
        add
      </button>
    </ion-nav-buttons>
 <ion-content>
      <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">

        <ion-item class="card" ng-repeat="dish in menu.dishes">
          <ion-delete-button class="ion-minus-circled" ng-click="delete($index)"></ion-delete-button>
            <a href="#tab/dish/{{dish.id}}">
              {{dish.name}}
            </a>
            <ion-option-button class="button-assertive"
                             ng-click="delete($index)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
      <ion-toggle ng-model="shouldShowDelete">
          Show Delete?
      </ion-toggle>
   </ion-content>
</ion-view>